a{
text-decoration: none;
color: #000;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items{
padding: 0px 2px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;

}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.search{
    padding: 5px;
}

.restro-conatainer{
    display: flex;
    flex-wrap: wrap ;
  
    
}
.restro-card{
    /* height: 400px; */
    width: 400px;
    padding: 5px; 
    margin: 15px;
    align-content: center;
    text-align: center;
    background-color:#e0eeee;
    transition: transform .2s;
}

.restro-card:hover{
    cursor: pointer;
    border: 1px solid rgb(84, 217, 240);
    background-color:#a2d2df;
    color:rgb(218, 58, 27);
    transform: scale(1.1);
}

.food-logo{
    width:100% ;

}

.filter-btn{
    margin: 10px;
   cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 400px;
    height: 500px;
    background-color: #c9ced0;
    margin: 20px;
}

.Login-btn{
    margin: 10px;
    cursor: pointer;
    padding:0px 10px;
}

.search-bar{
    margin: 10px;
}

.filter{
    display: flex;
}

.user-card{
    padding: 30px;
    border: 1px solid black;
}

.offline-card{
    height: 1000px;
    width: 1000px;
    margin:10px;
    border: 1px solid gray;
}

